# Utilities

numpy 
pandas

streamlit 

# Face Recognition Models
scikit-learn
dlib-bin
git+https://github.com/ageitgey/face_recognition_models 
setuptools

supabase
bcrypt
segno
pillow

# Audio Recognition
librosa 
resemblyzer --no-deps
