streamlit 

# Utilities
numpy 
pandas

# Face Recognition Models
scikit-learn
dlib-bin
face_recognition_models
setuptools>=65.0.0

supabase
bcrypt
segno
pillow

# Audio Recognition
librosa 
resemblyzer