streamlit 

# Utilities
numpy 
pandas

# Face Recognition Models
scikit-learn
dlib-bin
face_recognition_models
setuptools==80.9.0

supabase
bcrypt
segno
pillow

# Audio Recognition
librosa 
resemblyzer